section {
    margin-bottom: 75px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    width: 700px;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    width: 500px;
    margin: 15px 10px 20px 10px;
}

#results,
#loader {
    height: 350px;
    margin-bottom: 25px; 
}
